<div class="container">
    <h1>Impressum</h1>
    <p><strong>StadtMuster GbR</strong><br/>
    Agentur für urbanes Leben</p>
    <p>Melanie Stiewe<br/>
    Katy Waldbach<br/>
    Weydingerstr. 14-16<br/>
    10178 Berlin</p>

    <p><strong>Fon</strong>: +49 (0)30 88 76 39 88<br/>
    <strong>Fax</strong>: +49 (0)30 25 81 83 13<br/>
    <strong>Mail</strong>: <%= mail_to("info[at]stadtmuster[dot]de", nil, :encode => "javascript") %><br/>
    <strong>Home</strong>: <%= link_to("www.stadtmuster.de", "http://www.stadtmuster.de") %><br/>
</p>

    <p><strong>Vertretungsberechtigte Gesellschafterinnen</strong>: Melanie Stiewe und Katy Waldbach<br/>
    Inhaltlich Verantwortliche gemäß § 55 Abs. 2 RStV: Katy Waldbach (Anschrift wie
    oben)</p>
    <p><strong>Haftungshinweis</strong>: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine
    Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten
    sind ausschließlich deren Betreiber verantwortlich.</p>
</div>
