<div class="container">
    <!--><h1>Porträts</h1>-->
    <div class="span-11 colborder">
        <h3>Freddy Leck, <span class="small sup">SEIN</span> WASCHSALON</h3>
        <%= image_tag 'freddy2.jpg', :width => 296, :height => 200, :style => "border: 1px solid #ccc" %></a>
		<p class="prepend-top">"Ausgedacht hat sich das alles Freddy Leck, der Besitzer. Eigentlich heißt er Uwe Martens, aber im Salon nennen ihn alle Freddy...<br/>
		Als er Freunden von seiner neuen Idee erzählte, rieten die ihm, es in Prenzlauer Berg zu probieren. Oder vielleicht in Friedrichshain, irgendwo, wo genug junge Leute leben, die schräge Projekte mögen. Aber Martens wollte „dahin, wo man mich am allerwenigsten erwartet“. Es hat funktioniert. Vormittags kommen die Hausfrauen, abends die Studenten. Auch außerhalb des Kiezes hat sich der Laden herumgesprochen. Ein Hotelier aus Teltow fährt zweimal die Woche in die Gotzkowskystraße, um eine Ladung Schmutzwäsche abzugeben."
		<br/><a href="http://www.tagesspiegel.de/berlin/in-moabit-waescht-man-gemuetlich/1288968.html" style="color:#222;text-decoration:none;"><span class="small">(Quelle: Sebastian Leber: "In Moabit wäscht man gemütlich", Tagesspiegel, 29.07.2008)</span></a>
		</p>
        <p>Gotzkowskystraße 11, 10555 Berlin<br/>
	... mehr auf der Seite des <a href="http://www.freddy-leck-sein-waschsalon.de/">Waschsalons</a></p>
    </div>
    <div class="span-11 last prepend-1">
        <h3>Paracelsus-Apotheke in Moabit</h3>
        <div class="span-5">
			<p>
				Talal Banawer wurde 1971 in einem Flüchtlingslager in den Bergen des Libanon geboren. Der Bürgerkrieg zwang seine Familie nach Deutschland zu flüchten. 
			</p>
			<p>
				In Moabit aufgewachsen, bekam er von dem damaligen Inhaber der Paracelsus-Apotheke, Herrn Keller, immer Bonbons und Medizini-Poster geschenkt.
			</p>
			<p style="margin-bottom:0;">
				Nach erfolgreichem Studium absolvierte er schließlich ein Praktikum in der gleichen Apotheke. Da Herr Keller in Rente gehen wollte, hat er ihm 
			</p>
        </div>
        <div class="span-5 last">
        <p><%= image_tag 'apo.jpg', :width => 200, :height => 356, :style => "border: 1px solid #ccc" %></a></p>
        </div>
		<div class="span-11 last">
			seine Apotheke verkauft. Seitdem verteilt er Bonbons und Medizini-Poster und ist nun schon seit 5 Jahren Inhaber der Paracelsus-Apotheke.
			<hr class="space"/>
        	<p>Huttenstr. 68<br/>
			10553 Berlin</p>
		</div>
    </div>
</div>
