<div class="container">
    <h1>Hintergrund &ndash; So fing alles an</h1>
    <p><%= image_tag("STD_Buero-Laden_950x295.jpg", :width => 950, :height => 295, :style => "border: 1px solid #222") %></p>
    <div class="span-15 colborder">
        <p>Seit 2009 ist die Agentur StadtMuster bestrebt, unter dem Motto &bdquo;B&uuml;ro sucht Arbeit. Laden sucht Idee.&ldquo; im Auftrag des Quartiersmanagementquartiers Moabit West mehr Schwung und neue Impulse in den Kiez bringen, indem (noch) leerstehende Ladenlokale wieder mit Leben gef&uuml;llt werden. </p>
        <h4>Warum?!</h4>
        <p>Moabit West mit seinen einzelnen Kiezen bietet attraktive Entwicklungsperspektiven f&uuml;r Raumsuchende  aus unterschiedlichen Bereichen! Aufgrund der zentralen Lage, guten Verkehrsanbindung und g&uuml;nstigen Konditionen besteht  hier mitten in Berlin noch die Chance sich innovativ, gewinnbringend und individuell zu entfalten.</p>
        <h4>Womit?!</h4>
        <p>Wo man in Mitte, Kreuzberg oder Prenzlauer Berg schon seit langem nicht mehr f&uuml;ndig wird, entdeckt man hier noch seine kleine &Uuml;berraschungen! Interessante, leerstehende L&auml;den mit dem gewissen Etwas stehen f&uuml;r neue Nutzungen anhand von Dauermietverh&auml;ltnissen und Zwischennutzungen bereit!</p>
        <p><a href="../moabitwest/kontakt">Sprechen Sie uns an!</a></p>
    </div>
    <div class="span-8 last quiet">
        <h4>Die Agentur</h4>
        <p>Unser Name &quot;StadtMuster - Agentur f&uuml;r urbanes Leben&quot; spiegelt den Umfang der Arbeitsbereiche wider, in denen wir unsere F&auml;higkeiten optimal einbringen und bringt zum Ausdruck, was wir erreichen wollen:</p>
        <p>Entwicklung  und Verbesserung des Stadtimages sowie Erh&ouml;hung der Lebensqualit&auml;t. Wir wollen die St&auml;dte f&uuml;r die Bewohner, die Wirtschaft und den Tourismus attraktiver machen. Unsere Angebote richten sich an alle, die im st&auml;dtischen Kontext aktiv sind.</p>
        <p>&rarr; <a href="http://www.stadtmuster.de">Stadtmuster.de</a></p>
    </div>
</div>
