<div class="container append-bottom">
    <div class="breadcrump"><%= link_to 'Das Quartier', '/moabitwest/quartier' %> > Projekt „Aktive Stadtteilzentren“</div>
</div>

<div class="container">
    <h1>Projekt „Aktive Stadtteilzentren“</h1>

    <div class="span-15 colborder">
        <p>Die Senatsverwaltung für Stadtentwicklung hat fünf Berliner Geschäftsstraßen ausgewählt, die in den kommenden
          Jahren aus dem neuen Bund-Länder-Programm "Aktive Stadt- und Ortsteilzentren" gefördert werden sollen, darunter
          auch die Turmstraße in Moabit. In diesen Fördergebieten sollen Maßnahmen zur Aufwertung des öffentlichen Raums,
          zur Wiedernutzung leerer Gebäude und Brachflächen, Stadtmarketingmaßnahmen, Bürgerbeteiligung und akteursnahe
          Fonds nach dem Vorbild der Verfügungsfonds der Sozialen Stadt gefördert werden.</p>

        <p>Im Rahmen dieses Projektes werden für die Turmstraße folgende Maßnahmen anvisiert:
          Die Ausbildung eines zentralen qualitätvollen Stadtraumes als räumlicher, funktionaler
          und identitätsstiftender Kern für die Turmstraße und für Moabit soll realisiert werden.
          Sowohl der Kleine Tiergarten als auch der Otto-Park sollen nachhaltig aufgewertet werden. Zudem sollen weitere
          Stadtplätze wieder belebt bzw. neu geschaffen werden. Der U-Bahnhof Turmstraße soll als attraktive Drehscheibe des
          ÖPNV dienen. Unter der Berücksichtigung der ethnischen Vielfalt soll die Arminius-Markthalle revitalisiert werden.
          Ferner werden zur Aufwertung der Aufenthalts- und Angebotsqualität Maßnahmen im Straßenraum realisiert, zugunsten
          des Bus- und Fahrradverkehrs und des Fußgängerverkehrs. Ein Geschäftsmanagement soll das Angebot
          professionalisieren und ein positives außenwirksames Marketing betreiben. Die funktionale Vielfalt soll durch ein
          konzentriertes und konzeptionell abgestimmtes gastronomisches Angebot und Vernetzung und Ergänzung der bestehenden
          Kulturorte realisiert werden.
        </p>
    </div>
    <div class="span-8 last quiet">
        <h4>Ansprechpartner</h4>
        <p style="line-height:2em;white-space:pre;"
>Bezirksamt Mitte von Berlin
Abt. Stadtentwicklung
Amt für Planen und Genehmigen
Frau Möbus
Tel: 030 901845859
        </p>
    </div>
</div>
