<div class="container append-bottom">
    <div class="breadcrump"><%= link_to 'Das Quartier', '/moabitwest/quartier' %> > Ethnische Ökonomie</div>
</div>

<div class="container">
    <h1>Ethnische Ökonomie</h1>

    <div class="span-15 colborder">
        <p>
            Das Projekt zur Stärkung der ethnischen Ökonomie wird aus Mitteln des Jobcenters Berlin Mitte und des Landes
            Berlins gefördert. Ziel des ist es, UnternehmerInnen und ExistenzgründerInnen mit Migrationshintergrund zu
            unterstützen, um eine gestärkte und integrierte ethnische Ökonomie in Berlin Mitte zu realisieren. Es soll im
            Rahmen des Projektes eine Broschüre erstellt werden, die die wesentlichen kommunalen und gemeinnützigen
            Einrichtungen, die Kammern und Interessenverbände sowie Ansprechpartner enthält. Um eine hohe Verbreitung und
            Annahme der Broschüre zu erreichen, wird diese in verschiedenen Sprachen erscheinen und den Unternehmen direkt
            zugänglich gemacht.
        </p>
    </div>
    <div class="span-8 last quiet">
        <h4>Ansprechpartner</h4>
        <p style="line-height:2em;white-space:pre;"
>Projektgruppe Ethnische Ökonomie
BBJ Service gGmbH
Gottschedstraße 4
13357 Berlin
E-Mail: <%= mail_to "ethnische-oekonomie@bbj.de", nil, :encode => "javascript" %>
Tel: 46906410
        </p>
    </div>

</div>
