<div class="container">
    <h1>Quartiersgeflüster</h1>
    <p><a rel="lightbox" href="http://beleben.de/images/moa_quartier2.jpg"><%= image_tag 'quartier_preview.jpg', :width => 950, :height => 250, :style => "border: 1px solid #222" %></a></p>
    <div class="span-7 colborder">
        <h3>Moabit West:</h3>
        <p>Das Gebiet Moabit West bildet den westlichen Rand des Bezirkes Mitte (Ortsteil Moabit) und besteht aus einzelnen Wohninseln: </p>
        <ul>
            <li>dem Beusselkiez östlich und westlich der Rostocker Straße</li>
            <li>dem Waldstraßenkiez (inkl. der Bereiche an der Oldenburger Straße) östlich der Beusselstraße
                sechs Wohnblöcken südlich der Turmstraße und</li>
            <li>dem Huttenkiez westlich des Industriegebietes Martinickenfelde.</li>
        </ul>
    </div>
    <div class="span-9 colborder">
        <h3>Standortvorteile:</h3>
        <ul><li>Zentrale Lage unweit der City West</li>
            <li>Hervorragende Verkehrsanbindung über Flughafen Tegel, Hauptbahnhof und Regionalbahnhof Zoologischer Garten, S-Bahn-Anschluss, Nähe zur Autobahn 100</li>
            <li>Nähe zu bedeutenden Einrichtungen der Forschung, Wissenschaft und Lehre (TU Berlin, TFH Berlin, Produktionstechnisches Zentrum Berlin, Fraunhofer-Institute, etc.) </li>
            <li>Nachbarschaft zu zahlreichen Unternehmen, insbesondere aus den Branchen Informationstechnologie, Mobilität und Produktion ... </li></ul>
        <p>... mehr auf der Seite des <a href="http://www.netzwerk-moabit.de/Wirtschaftsstandort/St%C3%A4rkevonMoabitWest.aspx">Unternehmensnetzwerk Moabit</a>!</p>
    </div>
    <div class="span-6 last quiet">
        <h4>weitere nützliche Links: </h4>
        <ul><li><a href="http://www.mikrobpw.de/" title="mikroBPW">Businessplanwettbewerb für Moabit West</a></li>
            <li><a href="/moabitwest/quartier1" title="Quartier Moabit West ..::||::.. Büro sucht Arbeit. Laden sucht Idee.">Unterstützung für GründerInnen und UnternehmerInnen mit Migartionshintergrund</a></li>
            <li><a href="/moabitwest/quartier2" title="Quartier Moabit West ..::||::.. Büro sucht Arbeit. Laden sucht Idee.">Bund-Länder-Programm "Aktive Stadt- und Ortsteilzentren" der Senatsverwaltung für Stadtentwicklung</a></li>
            <li><a href="http://moabiter-kochkultur.de/" title="Moabiter Kochkultur erleben - Alle Restaurants, Bistros und Cafés">Moabiter Kochkultur - ein Gourmetführer für Moabit</a></li></ul>
    </div>
</div>
