<div class="container">
    <div class="span-10">
        <%= image_tag("MOABIT_Ort_fuer_Unternehmen-330x.jpg", :width => 330, :height => 234) %>
        <p>&nbsp;</p>
        <h1><span>Hier gibt es noch Freiraum!</span></h1>
    </div>
    <div class="span-14 last">
        <p><strong>Ob im Beusselkiez, Huttenkiez oder Waldstrassenkiez - in Moabit West sind noch Räume frei!</strong></p>
        <ul>
            <li>Wollen Sie mehr erfahren und sich informieren?</li>
            <li>Möchten Sie Besichtigungstermine oder moderierte Begehungen des Gebietes vereinbaren?</li>
            <li>Interessieren Sie sich für bestimmte Objekte, Konditionen?</li>
            <li>Erfordert Ihre Unternehmensgründung eine professionelle Unterstützung?</li>
            <li>Benötigen Sie die Vermittlung von Kontakten oder eine Beratung bei Ihrer Konzeptentwicklung?</li>
        </ul>
        <p>&rarr; <a href="/moabitwest/kontakt">Sprechen Sie uns an!</a></p>
    </div>

</div>
