<div id="content_head">Schillerpromenade</div>
<!--
<div id="content_map">map</div>
<div id="content_info">info</div>
-->
<div id="content_main">
    <%= image_tag '4.jpg', :width => 280, :height => 210 %>
    <%= image_tag '5.png', :width => 165, :height => 210 %>
    <%= image_tag '6.jpg', :width => 280, :height => 210 %>
    <div class="spacer">&nbsp;</div>
    <h1>LEBEN SUCHT BEWOHNER.</h1>
    <p class="text">
        „Das Viertel um die Schillerpromenade, das auf altem Ackerland entstand, war von der Stadt Rixdorf und ihrem
        damaligen Bürgermeister Hermann Boddin um 1900 als „Wohnquartier für Besserverdienende“ und als Gegenpol zu der
        Arbeitersiedlung auf den Rollbergen konzipiert, die bereits in den Jahrzehnten zuvor errichtet worden war.
    </p>
    <p class="text">
        „Die schönste Wohngegend Rixdorfs“ nannte ein Hauswirt 1908 das Gebiet. Prächtige Fassaden, platanengesäumte
        Bürgersteige und eine Promenade mit Parkbänken, Blumenrondells und englischem Rasen verleihen der Straße ein
        großbürgerliches Flair...“
        <a href="http://de.wikipedia.org/wiki/Schillerpromenade">
            Artikel Schillerpromenade. In: Wikipedia, Die freie Enzyklopädie.</a>
    </p>
    <p class="text">
        Vielfalt, Kunst, Kultur und lebenswerte Umgebung. Der Schillerkiez in Neukölln zwischen Hermannstraße und dem
        Flughafengelände Tempelhof hat viel mehr zu bieten als vielleicht vermutet. So gibt es entlang der
        Schillerpromenade noch vergleichsweise günstige und schöne Mietwohnungen, auch kulturell hat sich in den
        vergangenen Jahren jede Menge getan.
    </p>
    <div class="spacer">&nbsp;</div>
</div>